@{
    ViewBag.Title = "DuplicateUser";
}

<div class="alert alert-danger">

    <h2>This User is already created in the system</h2>
    The User already exists - request not saved
</div>
<br />
@Html.ActionLink("Return to home", "Index", "Home")