@{
    ViewBag.Title = "NotAuthorized";
}
<div class="jumbotron">
    <div class=" alert alert-danger">
        <h2>You are not authorized to Edit this Data. If you have any questions reach out to your manager. </h2>
    </div>
</div>
<br />
@Html.ActionLink("Return to Home", "Index", "Home")
