@{
    ViewBag.Title = "App Recognition";
}
<h2>@ViewBag.Title</h2>
<h3>About the App Recognition</h3>

<p>The app recognition page allows the employees of Centric Consulting to let their coworkers know when they have done something great. We believe that recognizing people for their achievements motivates them to succeed in the future. As a company, we believe that rewaridng others is very important on a daily basis.</p>
