@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Centic Consulting</h1>
    <p class="lead"></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


@*<head>
    <style>
        body {
            background-image: url("http://www.redicincinnati.com/media/1696/centric_logo_color.png");
            background-repeat: no-repeat;
            background-position: right bottom;
            margin-right: 100px;
            background-attachment: Fixed;
        }
    </style>
</head>*@



    <div class="row">
        <div class="col-md-4">
            <h2>Create your account</h2>
            <p>
                Build your account and stay connected!
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Core Values</h2>
            <p>Learn more about Centric's core values</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Connect with others</h2>
            <p>Chat and connect with others</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
