@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <style>
        body {
            background-color: darkgrey;
        }

        img {
            display: block;
            margin: auto;
        }
    </style>

    <p>    <img src="https://www.valet.io/wp-content/themes/valet/assets/images/case-studies/centric/centric-logo.png" alt="Paris" style="width:50%"></p>

    <style>
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            cursor: pointer;
        }


        .button5 {
            background-color: whitesmoke;
            color: black;
            border: 2px solid #555555;
            text-align: center;
            display: block;
            margin: auto;
            border-radius: 8px;
        }

            .button5:hover {
                background-color: #555555;
                color: white;
            }

        .button1 {
            background-color: whitesmoke;
            color: black;
            border: 2px solid #555555;
            text-align: center;
            display: block;
            margin: auto;
            border-radius: 8px;
        }

            .button1:hover {
                background-color: #555555;
                color: white;
            }
    </style>
    <p><a href="~/Account/Register" class="button button5" alt="Paris" style="width:50%">Create an Account </a></p>
    <p><a href="https://centricconsulting.com/" class="button button1" alt="Paris" style="width:50%">Centric Consulting Webpage</a></p>

</div>



@*<div class="row">
    <div class="col-md-4">
        <h3>Create your account</h3>
        <p>Build your account and stay connected!</p>
    </div>*@

@*<a href="https://twitter.com/centric?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>*@


@*<div class="col-md-4">*@
@*<div class="row"></div>*@
@*<a href="https://twitter.com/centric">
         <img src="https://png.icons8.com/twitter/color/96" title="Twitter" width="48" height="48" > </a>
     <a href="https://www.facebook.com/CentricConsultingNational/">
         <img src="https://png.icons8.com/facebook/color/48" title="Facebook" width="48" height="48"></a>
     <a href="https://www.instagram.com/centric_consulting/">
         <img src="https://png.icons8.com/instagram/color/48" title="Instagram" width="48" height="48"></a>
     <a href="https://www.linkedin.com/company/centric-consulting">
         <img src="https://png.icons8.com/linkedin/color/48" title="LinkedIn" width="48" height="48"></a>
    </div>*@


<html>
<head>
    <style>
        h3 {
            text-decoration: underline;
            color: black;
            font-weight: bold;
            text-align: left;
            /*float: left;*/
        }
        .div
        {
            position:fixed
        }
    </style>
</head>
<body>
    <h3>Follow Centric on Twitter</h3>
</body>
</html>
<div class="row">
    <div class="col-md-4">
        <a class="twitter-timeline" href=https://twitter.com/centric?ref_src =twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" width="350" height="350">Centric Consulting</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>


<div class="row">
    <div class="top-right">
        <p><a href="~/Recognitions/Create" class="button button1" alt="Paris" style="width:40%">Recognize an Employee</a></p>
    </div>
</div>





