@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <style>
        body{
            background-color: darkgrey;
            }
    </style>
    <p>            <img src="https://www.valet.io/wp-content/themes/valet/assets/images/case-studies/centric/centric-logo.png" align="middle">     </p>
    <p class="lead">@*This app allows Centric employees to give recognition to other employees in a centralized location.*@</p>
    <p><a href="~/Account/Register" class="btn btn-primary btn-lg">Create an Account &raquo;</a></p>
    <p><a href="~/Recognitions/Create" class="btn btn-primary btn-lg">Recognize an employee! &raquo;</a></p>
    @*<p><a href="~/Recognitions/Index" class="btn btn-primary btn-lg">See recognitions! &raquo;</a></p>*@
</div>
    





<div class="row">
    <div class="col-md-4">
        <h3>Create your account</h3>
        <p>Build your account and stay connected!</p>      
    </div>
    

    @*<a href="https://twitter.com/centric?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>*@
    
   

    <div class="col-md-4">
        <h2>Get connected with your peers</h2>
        <a href="https://twitter.com/centric"> </a>
            <img src="https://png.icons8.com/twitter/color/96" title="Twitter" width="48" height="48">
           
            
        <a href="https://www.facebook.com/CentricConsultingNational/">
            <img src="https://png.icons8.com/facebook/color/48" title="Facebook" width="48" height="48">
        </a>

        <a href="https://www.instagram.com/centric_consulting/"> </a>
                    <img src="https://png.icons8.com/instagram/color/48" title="Instagram" width="48" height="48">

        <a href="https://www.linkedin.com/company/centric-consulting">
            <img src="https://png.icons8.com/linkedin/color/48" title="LinkedIn" width="48" height="48">
        </a>
                        
                        <a class="twitter-timeline" href=https://twitter.com/centric?ref_src =twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" width="350" height="160">Centric Consulting</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
 
    

    

